<nav>
  <h1>你好。</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Technical Directory @ EF English Centers, Shanghai China</p>
    <p>Interests: Ed-Tech, Chinese, Culture shock, Travel, Politics, Non Fiction, Open Source, Green, Privacy, InfoSec, Vegetarian cooking, DIY, Coffee</p>
    <BR>
    <p><a href="https://github.com/bcooney">Github</a> | <a href="http://quitter.se/bcooney">Quitter</a> | <a href="https://news.ycombinator.com/threads?id=bx_">HackerNews</a> | <a href="https://keybase.io/bcooney">Keybase</a> | <a href="https://cn.linkedin.com/in/brendancooney">LinkedIn</a>
    <BR>
    <p>My Public Key</p>
    <p><blockquote>-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v2

mQENBFWHgCMBCACd1RuVnCrLTMR8ybm22BpSU3JMLBjVvgkqOm9spDLPEptv8n89
C8gIbNdvCyrUgyF1Z1Y6E4nqUaQk74bqbMenyjPpdm9egzxGBOubG1RYWf7ECqkE
X+ALvsVx9FwDETJSgUv+RZqcHRISjSY5He1x7GyhMifkPFoFqSX2SIfFpB15/lvJ
4pbI9OUt8kcKUkDhY0v4ev49jDCZYcrKt1qGmdUdsSddvuewdu9BaF463BuHXhRV
JTZVwRDFQf4drfGWGjQTUcx8eV48P8ID8lp4bmSbv0vwHZTzERLnEW7ylO95g8KZ
dNNvhDSJvw5WSlQUT+xbH76yS/f7fwL7ecQLABEBAAG0H0IuIENvb25leSA8YmNv
b25leUB0dXRhbm90YS5kZT6JATkEEwEIACMFAlWHgCMCGy8HCwkIBwMCAQYVCAIJ
CgsEFgIDAQIeAQIXgAAKCRD8HuPGNDoQEfGCB/9XdmTlRuNov9NEcn9yZQTSmKVU
/xOMc0YWXLkljx5DXFDckWFSFwsbpoAoomonsPkvPbYD1/61mqYD9Fp2KcnxjAL+
md/H2XzlIastt7S7eIyVguZEi+RpJiiKRN2UDxrSNfOKGwlDFFrX4cFwU2SBKpq3
9lmpuhhQS2410MgXgvSjNlb+UekdwMe7+atzxxvk++uWwKEa9rlcs98+ZFg0D9e1
FpQahQk2XBPv2XkR4EuuV6NS2nr/+YoXNWg2GzZAQSlaC3h7c0/IW9WtSUpyhesf
KTT34wir7iiBHBT18xVKHSbxkn9Uh3vN3zn61Fs64FCfNMUnnPda9BDJ8c1BtCdr
ZXliYXNlLmlvL2Jjb29uZXkgPGJjb29uZXlAa2V5YmFzZS5pbz6JATAEEwEKABoF
AlWHgCMCGy8DCwkHAxUKCAIeAQIXgAIZAQAKCRD8HuPGNDoQEbwFB/4w61A8ZmN0
3PZAZGNkO2h3+BO/eyawEabIqWNqWyIKv1pPx+SpLV48OJ+KKJ981Pq5V+l1ez2i
+FkW2rjPQCVnX/SrssSXn7RqPkfj0PyB8tIDp7SjA/S+G99NuwDSTTcVqHfusV5P
W7lYfdlebaHiGWrwPz8LKFU5Vo1+RR+MdyX5p5ESWhlgnBYnc6cHJKZUZKA0LRP6
3HAwDtXdhE61zG7xOgAMlTAKjGM/1MKJyfRU6iIEWywSuhkSo1Enu3kfVmMrRxP4
gCyGH5bryl/IGG6xr8Cm6JLWFrUAfAPBJSyH52ODavXcQj5UObjB4m22FMFO468O
eoQqzlbz842n
=u3cn
-----END PGP PUBLIC KEY BLOCK-----</blockquote>
  </div>
</nav>
