<nav>
  <h1>你好。</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Technical Director @ EF English Centers, Shanghai China</p>
    <p>Interests: Ed-Tech, Chinese, Culture shock, Travel, Politics, Non Fiction, Open Source, Green, Privacy, InfoSec, Vegetarian cooking, DIY, Coffee</p>
    <p><a href="https://github.com/bcooney/public-key/raw/master/20151226pubkey.asc">My Public Key</a></p>
    <p><ul style="list-style: none;">
    <li><small><a href="https://github.com/bcooney">Github</a></small></li>
    <li><small><a href="http://quitter.se/bcooney">Quitter</a></small></li>
    <li><small><a href="https://news.ycombinator.com/threads?id=bx_">HackerNews</a></small></li>
    <li><small><a href="https://cn.linkedin.com/in/brendancooney">LinkedIn</a></small></li>
    </ul></p>
  </div>
</nav>
